# 1

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r'/Users/harshida/Downloads/Titanic_original.csv')

# 2

In [3]:
y=data['Survived']                                                      #target

# 3 & 4

In [4]:
data.isnull().sum()

PassengerId      1
Survived         0
Pclass           1
Name             2
Sex              2
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         3
dtype: int64

Data Wrangling

In [5]:
data=data.dropna(how='any')

In [6]:
data=data.drop(['PassengerId'],axis=1)

In [7]:
data=data.drop(columns=['Name','Ticket','Cabin'])

In [8]:
data=pd.get_dummies(data,columns=['Embarked'])

In [9]:
data=pd.get_dummies(data,columns=['Sex'])

In [10]:
data=pd.get_dummies(data,columns=['Pclass'])

In [11]:
tidy_data=data

In [12]:
tidy_data

,Survived,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1.0,Pclass_2.0,Pclass_3.0
3,1,35.0,1,0,53.1000,0,0,1,1,0,1,0,0
10,1,4.0,1,1,16.7000,0,0,1,1,0,0,0,1
11,1,58.0,0,0,26.5500,0,0,1,1,0,1,0,0
21,1,34.0,0,0,13.0000,0,0,1,0,1,0,1,0
23,1,28.0,0,0,35.5000,0,0,1,0,1,1,0,0
27,0,19.0,3,2,263.0000,0,0,1,0,1,1,0,0
52,1,49.0,1,0,76.7292,1,0,0,1,0,1,0,0
54,0,65.0,0,1,61.9792,1,0,0,0,1,1,0,0
62,0,45.0,1,0,83.4750,0,0,1,0,1,1,0,0
66,1,29.0,0,0,10.5000,0,0,1,1,0,0,1,0
75,0,25.0,0,0,7.6500,0,0,1,0,1,0,0,1
88,1,23.0,3,2,263.0000,0,0,1,1,0,1,0,0
92,0,46.0,1,0,61.1750,0,0,1,0,1,1,0,0
96,0,71.0,0,0,34.6542,1,0,0,0,1,1,0,0
97,1,23.0,0,1,63.3583,1,0,0,0,1,1,0,0
102,0,21.0,0,1,77.2875,0,0,1,0,1,1,0,0
110,0,47.0,0,0,52.0000,0,0,1,0,1,1,0,0
118,0,24.0,0,1,247.5208,1,0,0,0,1,1,0,0
123,1,32.5,0,0,13.0000,0,0,1,1,0,0,1,0
124,0,54.0,0,1,77.2875,0,0,1,0,1,1,0,0
136,1,19.0,0,2,26.2833,0,0,1,1,0,1,0,0
137,0,37.0,1,0,53.1000,0,0,1,0,1,1,0,0
139,0,24.0,0,0,79.2000,1,0,0,0,1,1,0,0
148,0,36.5,0,2,26.0000,0,0,1,0,1,0,1,0
151,1,22.0,1,0,66.6000,0,0,1,1,0,1,0,0
170,0,61.0,0,0,33.5000,0,0,1,0,1,1,0,0
174,0,56.0,0,0,30.6958,1,0,0,0,1,1,0,0
177,0,50.0,0,0,28.7125,1,0,0,1,0,1,0,0
183,1,1.0,2,1,39.0000,0,0,1,0,1,0,1,0
193,1,3.0,1,1,26.0000,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,1,35.0,0,0,512.3292,1,0,0,0,1,1,0,0
741,0,36.0,1,0,78.8500,0,0,1,0,1,1,0,0
742,1,21.0,2,2,262.3750,1,0,0,1,0,1,0,0
745,0,70.0,1,1,71.0000,0,0,1,0,1,1,0,0
748,0,19.0,1,0,53.1000,0,0,1,0,1,1,0,0
751,1,6.0,0,1,12.4750,0,0,1,0,1,0,0,1
759,1,33.0,0,0,86.5000,0,0,1,1,0,1,0,0
763,1,36.0,1,2,120.0000,0,0,1,1,0,1,0,0
765,1,51.0,1,0,77.9583,0,0,1,1,0,1,0,0
772,0,57.0,0,0,10.5000,0,0,1,1,0,0,1,0
779,1,43.0,0,1,211.3375,0,0,1,1,0,1,0,0
781,1,17.0,1,0,57.0000,0,0,1,1,0,1,0,0
782,0,29.0,0,0,30.0000,0,0,1,0,1,1,0,0
789,0,46.0,0,0,79.2000,1,0,0,0,1,1,0,0
796,1,49.0,0,0,25.9292,0,0,1,1,0,1,0,0
802,1,11.0,1,2,120.0000,0,0,1,0,1,1,0,0
806,0,39.0,0,0,0.0000,0,0,1,0,1,1,0,0
809,1,33.0,1,0,53.1000,0,0,1,1,0,1,0,0
820,1,52.0,1,1,93.5000,0,0,1,1,0,1,0,0
823,1,27.0,0,1,12.4750,0,0,1,1,0,0,0,1
835,1,39.0,1,1,83.1583,1,0,0,1,0,1,0,0
853,1,16.0,0,1,39.4000,0,0,1,1,0,1,0,0
857,1,51.0,0,0,26.5500,0,0,1,0,1,1,0,0
862,1,48.0,0,0,25.9292,0,0,1,1,0,1,0,0
867,0,31.0,0,0,50.4958,0,0,1,0,1,1,0,0
871,1,47.0,1,1,52.5542,0,0,1,1,0,1,0,0
872,0,33.0,0,0,5.0000,0,0,1,0,1,1,0,0
879,1,56.0,0,1,83.1583,1,0,0,1,0,1,0,0
887,1,19.0,0,0,30.0000,0,0,1,1,0,1,0,0
889,1,26.0,0,0,30.0000,1,0,0,0,1,1,0,0

In [13]:
X=tidy_data.drop(['Survived'],axis=1)

In [14]:
y=tidy_data['Survived']

# 5

In [15]:
from sklearn import tree

In [16]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [26]:
clf=tree.DecisionTreeClassifier()

In [27]:
best_fit=clf.fit(X_train,y_train)

In [20]:
import sklearn.metrics as met

In [28]:
prediction=clf.predict(X_test)

In [29]:
met.accuracy_score(y_test,prediction)

0.7454545454545455

In [30]:
parameters = {'max_features': ['log2', 'sqrt','auto'],

'criterion': ['entropy', 'gini'],

'max_depth': [2, 3, 5, 10],

'min_samples_split': [2, 3, 5],

'min_samples_leaf': [1,5,8]

}

In [37]:
from sklearn.model_selection import GridSearchCV
grid_obj = GridSearchCV(clf, parameters, cv=5)

grid_obj = grid_obj.fit(X_train, y_train)

clf = grid_obj.best_estimator_

fit=clf.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [34]:
clf.feature_importances_

array([0.        , 0.        , 0.        , 0.33074755, 0.        ,
       0.        , 0.        , 0.        , 0.66925245, 0.        ,
       0.        , 0.        ])

In [35]:
clf.n_features_

12

In [38]:
y_pred=grid_obj.best_estimator_.predict(X_test)

In [39]:
met.confusion_matrix(y_pred,y_test)

array([[15, 10],
       [ 3, 27]])

In [40]:
tp,fp,fn,tn=met.confusion_matrix(y_pred,y_test).ravel()

In [41]:
accuracy=(tp+tn)/(tp+tn+fp+fn)

In [42]:
accuracy

0.7636363636363637

In [43]:
precision=tp/(tp+fp)

In [45]:
precision

0.6

In [44]:
sensitivity=tp/(tp+fn)

In [46]:
sensitivity

0.8333333333333334

In [47]:
a=2*precision*sensitivity

In [48]:
b=precision+sensitivity

In [49]:
F1_score=a/b

In [50]:
F1_score

0.6976744186046512

In [59]:
parameters1 = {'max_features': ['sqrt','auto'],

'criterion': ['gini'],

'max_depth': [2, 3, 5, 10],

'min_samples_split': [2, 3, 5],

'min_samples_leaf': [1,5,8]

}

In [103]:
gridCV=GridSearchCV(clf,parameters1,cv=20)

In [104]:
fit1=gridCV.fit(X_train,y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [105]:
gridCV.best_estimator_.feature_importances_

array([0.31347794, 0.06950203, 0.1197399 , 0.35884862, 0.0915505 ,
       0.        , 0.        , 0.        , 0.        , 0.046881  ,
       0.        , 0.        ])

In [106]:
gridCV.best_estimator_.n_features_

12

In [107]:
y_pred1=gridCV.predict(X_test)

In [108]:
met.accuracy_score(y_test,y_pred1)

0.7272727272727273

In [109]:
met.confusion_matrix(y_pred1,y_test)

array([[ 7,  4],
       [11, 33]])

In [110]:
tp,fp,fn,tn=met.confusion_matrix(y_pred1,y_test).ravel()

In [111]:
accuracy1=(tp+tn)/(tp+fp+fn+tn)

In [112]:
accuracy1

0.7272727272727273

In [113]:
precision1=tp/(tp+fp)

In [114]:
precision1

0.6363636363636364

In [115]:
sensitivity1=tp/(tp+fn)

In [116]:
a1=2*precision1*sensitivity1

In [117]:
b1=precision1+sensitivity

In [118]:
f1_score=a1/b1

In [119]:
f1_score

0.7777777777777778